-
  const pathStatics = PRODUCTION ? 'statics' : 'statics'
  const phone = { link: 'tel:79999999999', mask: '+7 999 999 99 99' }

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  function placeholder(width, height = width, x) {
    if (x) {
      return `https://via.placeholder.com/${width}x${height} 1x, https://via.placeholder.com/${Math.round(width * x)}x${Math.round(height * x)} ${x}x`
    }
    return `https://via.placeholder.com/${width}x${height}`
  }

  const pages = [
    { view: 'index', name: 'главная' },
    { view: 'program', name: 'программы' },
    { view: 'approach', name: 'approach' },
    { view: 'contact', name: 'контакты' },
    { view: 'news', name: 'страница новостей' },
    { view: 'events', name: 'страница событий' },
    { view: 'news-article', name: 'внутренняя страница новости' },
    { view: 'events-article', name: 'внутренняя страница события' },
    { view: 'pro-m-plus', name: 'pro-m-plus' },
    { view: 'not-found', name: 'not-found' },
  ]
