section.cap.js-cap.js-white-section
  img.cap__mouse(src=staticImg('ic_mouse_white.svg') alt='')
  .cap__cont.cont
    .cap__box
      h1.cap__caption.h1 children's football academy
      button.cap__sign-up.btn-black.js-open-popup(type='button') sign up for a lesson
  .cap__slide.cap__slide_1.js-cap-slide
    .cap__slide-box
      .cap__slide-number 01
      .cap__slide-title.h4!= 'Unique methodology <br> sportsmen training'
      .cap__slide-text.p1 Analytic and global method
    img.cap__slide-image(src=staticImg('cap/slide-1.jpg') alt='')
  .cap__slide.js-cap-slide
    .cap__slide-box
      .cap__slide-number 02
      .cap__slide-title.h4!= 'UEFA-licensed <br> coaching staff'
      .cap__slide-text.p1 Permanent internships, seminars, advanced training, obtaining coaching licenses
    img.cap__slide-image(src=staticImg('cap/slide-2.jpg') alt='')
  .cap__slide.js-cap-slide
    .cap__slide-box
      .cap__slide-number 03
      .cap__slide-title.h4!= 'Unique methodology <br> sportsmen training'
      .cap__slide-text.p1 Analytic and global method
    img.cap__slide-image(src=placeholder(1920, 1655) alt='')
